{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:edit{% endblock %}
{% block body %}
    <div class="container">
    <h2>Edytuj swoje ogłoszenie</h2>
    {% if errors is defined %}
        {% for error in errors %}
            <p> {{ error.message }}</p>
        {% endfor %}
    {% else %}
        <h3>Edytuj dane ogłoszenia</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    <hr/>
    <a href="{{ path('show_details', { 'id': announcement.id }) }}">Powrót do ogłoszenia</a><br/><br/>
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
    </div>
{% endblock %}