{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:show_details{% endblock %}
{% block body %}
    <div class="container">
    <h3>Kategoria: {{ announcement.getCategory() }}</h3>
    <h1>{{ announcement.title }}</h1>
    <h2>Cena: {{ announcement.price }} zł</h2>
    <p>Opis Przedmiotu: <br/><br/>{{ announcement.description }}</p>
    <img src="{{ announcement.webPath }}" width="350" height="300">
    <p>Data wygaśnięcia ogłoszenia: {{ announcement.addDate |date("d/m/Y H:i:s") }}</p>
    <h4>Dodany przez: {{ announcement.getUser() }}</h4>
    <a href="{{ path('createComment', { 'id': announcement.id }) }}">Napisz komentarz<br/></a>
    <h3>Komentarze:</h3>
    {% for comment in announcement.comments %}
        {{ comment.text }} <br/>
        {{ comment.date |date("d/m/Y H:i:s") }} <br/>
        {{ comment.getUser() }} <br/><br/>
    {% endfor %}
    <hr/>
    {% if app.user %}
        <a href="{{ path('edit', { 'id': announcement.id }) }}">Edytuj ogłoszenie</a><br/><br/>
        <a href="{{ path('switchPhoto', { 'id': announcement.id }) }}">Edytuj zdjęcie</a><br/><br/>
        <a href="{{ path('delete', { 'id': announcement.id }) }}">Usuń ogłoszenie</a><br/><br/>
    {% else %}
        <h4 style="color: crimson">Zaloguj się aby usunąć lub edytować to ogłoszenie</h4>
    {% endif %}
    <hr/>
    <a href="{{ path('showAll') }}">Powrót do listy ogłoszeń</a><br/><br/>
        <a href="{{ path('start_page') }}">Powrót do strony głównej</a>
    </div>
{% endblock %}